@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body{font-family: 'Poller One', cursive;
  background: url('../assets/images/bgimg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(180,143,17) ;
}
